<div class="signup-form-container">

  <!-- form start -->
  <form role="form" id="register-form" [formGroup]="signUpForm" novalidate (ngSubmit)="save()">

    <div class="form-header">
      <h3 class="form-title"> {{pageTitle}}</h3>

      <div class="pull-right">
        <h3 class="form-title"><span class="glyphicon glyphicon-pencil"></span></h3>
      </div>

    </div>

    <div class="form-body">
      <div class="row">
        <div class="form-group col-lg-6"
             [ngClass]="{'has-error': displayeErrorMessage.firstName}">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
            <input name="name" id="name" type="text" class="form-control"
                   placeholder="First name" formControlName="firstName">
          </div>
          <small class="help-block" id="errorname" *ngIf="displayeErrorMessage.firstName">
            <i>{{displayeErrorMessage.firstName}}</i>
          </small>
        </div>

        <div class="form-group col-lg-6"
             [ngClass]="{'has-error': displayeErrorMessage.secondName}">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
            <input name="secondname" type="text" class="form-control"
                   placeholder="Second name" formControlName="secondName">
          </div>
          <small class="help-block"  *ngIf="displayeErrorMessage.secondName">
            <i> {{displayeErrorMessage.secondName}}</i>
          </small>
          </div>
        </div>

      <div class="form-group" [ngClass]="{'has-error': displayeErrorMessage.username}">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
          <input name="username" type="text" class="form-control"
                 placeholder="Username" formControlName="username">
        </div>
        <small class="help-block" id="errorusername" *ngIf="displayeErrorMessage.username">
          <i>{{displayeErrorMessage.username}}</i>
        </small>
      </div>

      <div class="form-group" [ngClass]="{'has-error':displayeErrorMessage.email}">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
          <input name="email" type="text" class="form-control"
                 placeholder="Email" formControlName="email">
        </div>
        <small class="help-block" id="erroremail" *ngIf="displayeErrorMessage.email">
          <i>{{displayeErrorMessage.email}}</i>
        </small>
      </div>

      <div class="row" formGroupName="passwordMatch">
        <div class="form-group col-lg-6" [ngClass]="{'has-error': displayeErrorMessage.password}">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
            <input name="password" id="password" type="password" class="form-control"
                   placeholder="Password" formControlName="password">
          </div>
          <small class="help-block" id="errorpassword" *ngIf="displayeErrorMessage.password">
            <i>{{displayeErrorMessage.password}}</i>
          </small>
        </div>

        <div class="form-group col-lg-6" [ngClass]="{'has-error':displayeErrorMessage.confirmPassword}">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
            <input name="cpassword" type="password" class="form-control"
                   placeholder="Retype Password" formControlName="confirmPassword">
          </div>
          <small class="help-block" id="errorcpassword1" *ngIf="displayeErrorMessage.confirmPassword">
            <i>{{displayeErrorMessage.confirmPassword}}</i>
          </small>
        </div>
      </div>
    </div>

    <div class="form-footer">
      <button type="submit" class="btn btn-danger">
        <span class="glyphicon glyphicon-chevron-left"></span> Back
      </button>
      <button type="submit" class="btn btn-success" [disabled]="!signUpForm.valid" id="ButtonSubmit">
        <span class="	glyphicon glyphicon-floppy-disk"></span> Save
      </button>
    </div>
  </form>
</div>



<!-- Auto show Modal -->

<!--<button type="button" class="btn btn-primary" (click)="showModal()">Render auto-shown modal</button>-->
<div *ngIf="showModal" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id ="verifModel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Auto shown modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
