<html>
<head>
<title>C:\Users\Rima\WebstormProjects\CvGenFrontEnd\FrondEnd\src\assets\templates\template5.pdf</title>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 13.8px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_843:597" src="page_001.jpg" height="843" width="597" border="0" usemap="#Map"></img></div>
<div class="pos" id="_155:46" style="top:46;left:155">
<span id="_35.2" style=" font-family:Times New Roman; font-size:35.2px; color:#809a7e34">
YOUR NAME</span>
</div>
<div class="pos" id="_155:93" style="top:93;left:155">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#809a7e34">
M* JOB TITLE</span>
</div>
<div class="pos" id="_165:133" style="top:133;left:165">
<span id="_11.5" style=" font-family:Times New Roman; font-size:11.5px; color:#ffff0000">
Phone: 012 / 345 - 6789 - Em*il:<a href="mailto:my-name@myemail.com"> my-name@m*email.com</span>
</div>
<div class="pos" id="_94:182" style="top:182;left:94">
<span id="_16.4" style=" font-family:Times New Roman; font-size:16.4px; color:#809a7e34">
</a>PROFILE</span>
</div>
<div class="pos" id="_56:216" style="top:216;left:56">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#4b1899aa">
Pel*e*t**que sed dignissim *d*o. F*sce accumsan fe*is ac metu* bland*t sed ornare mauris hendrerit. Sed</span>
</div>
<div class="pos" id="_56:229" style="top:229;left:56">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#4b1899aa">
fringil*a orci a* nunc ullamcorper ut volutpat er*s *agittis. S*d o*ci mi, t**cidunt non sod**es sed, place*at sit</span>
</div>
<div class="pos" id="_56:242" style="top:242;left:56">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#4b1899aa">
amet d*am. Ve*t*bulum pos*ere sceleris**e luc*us. Nullam *end*erit e*i* in eros *onsequat ac tempor l*be*o</span>
</div>
<div class="pos" id="_56:255" style="top:255;left:56">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#4b1899aa">
ultrices. Susp***isse vita* convallis ante. *unc digni*sim mattis f*rmentum. Praesen* vi*erra nisi at lib*ro</span>
</div>
<div class="pos" id="_56:268" style="top:268;left:56">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#4b1899aa">
iaculi* pu*vinar. Al**uam era* vo*utpat.</span>
</div>
<div class="pos" id="_95:303" style="top:303;left:95">
<span id="_16.4" style=" font-family:Times New Roman; font-size:16.4px; color:#809a7e34">
EDUCA*I**</span>
</div>
<div class="pos" id="_66:335" style="top:335;left:66">
<span id="_12.2" style=" font-family:Times New Roman; font-size:12.2px; color:#7833625d">
1998 - 200*</span>
</div>
<div class="pos" id="_155:336" style="top:336;left:155">
<span id="_10.3" style="font-weight:bold; font-family:Arial; font-size:10.3px; color:#4b1899aa">
School1:<span style="font-weight:normal"> Lorem</span><span style="font-weight:normal"> ip*u*</span><span style="font-weight:normal"> dolor</span><span style="font-weight:normal"> sit</span><span style="font-weight:normal"> *met,</span><span style="font-weight:normal"> consect*tur</span><span style="font-weight:normal"> adipiscing</span><span style="font-weight:normal"> el*t.</span><span style="font-weight:normal"> Cu*abitur</span><span style="font-weight:normal"> imper*iet,</span></span>
</div>
<div class="pos" id="_155:350" style="top:350;left:155">
<span id="_10.3" style=" font-family:Arial; font-size:10.3px; color:#4b1899aa">
*rn* sed s*scipit sc*le*i*que, arcu m*uri* aliquam lacus.</span>
</div>
<div class="pos" id="_66:376" style="top:376;left:66">
<span id="_12.6" style=" font-family:Times New Roman; font-size:12.6px; color:#7833625d">
*002 - 2006</span>
</div>
<div class="pos" id="_155:377" style="top:377;left:155">
<span id="_10.3" style="font-weight:bold; font-family:Arial; font-size:10.3px; color:#4b1899aa">
School2:<span style="font-weight:normal"> Proin</span><span style="font-weight:normal"> mattis,</span><span style="font-weight:normal"> l*rem</span><span style="font-weight:normal"> egestas</span><span style="font-weight:normal"> tri*t*q*e</span><span style="font-weight:normal"> *eu*iat,</span><span style="font-weight:normal"> t*rpi*</span><span style="font-weight:normal"> *assa</span><span style="font-weight:normal"> adipiscing</span><span style="font-weight:normal"> *u*la,</span></span>
</div>
<div class="pos" id="_155:390" style="top:390;left:155">
<span id="_10.3" style=" font-family:Arial; font-size:10.3px; color:#4b1899aa">
si* amet hendr*rit libe** a*cu malesuada felis.</span>
</div>
<div class="pos" id="_155:407" style="top:407;left:155">
<span id="_10.3" style=" font-family:Arial; font-size:10.3px; color:#7833625d">
Null* eget a*i*uet felis. **l*a du* neque, co*gue quis ve**natis ac, *aucibu* sit amet</span>
</div>
<div class="pos" id="_155:420" style="top:420;left:155">
<span id="_9.7" style=" font-family:Arial; font-size:9.7px; color:#7833625d">
l*rem.</span>
</div>
<div class="pos" id="_93:457" style="top:457;left:93">
<span id="_17.4" style=" font-family:Times New Roman; font-size:17.4px; color:#809a7e34">
E*PERIENCE</span>
</div>
<div class="pos" id="_66:490" style="top:490;left:66">
<span id="_10.3" style=" font-family:Times New Roman; font-size:10.3px; color:#4b1899aa">
*ompany 1</span>
</div>
<div class="pos" id="_155:491" style="top:491;left:155">
<span id="_10.3" style=" font-family:Arial; font-size:10.3px; color:#4b1899aa">
*orem i*sum dolor **t amet, con*ectetur adipi*cin* e*it. Curabitur imperd*e*, urna se*</span>
</div>
<div class="pos" id="_66:501" style="top:501;left:66">
<span id="_12.6" style=" font-family:Times New Roman; font-size:12.6px; color:#7833625d">
2006 - 20**</span>
</div>
<div class="pos" id="_155:504" style="top:504;left:155">
<span id="_10.3" style=" font-family:Arial; font-size:10.3px; color:#4b1899aa">
susci*it scelerisque, arcu m*uris a**quam lacus.</span>
</div>
<div class="pos" id="_66:530" style="top:530;left:66">
<span id="_10.3" style=" font-family:Times New Roman; font-size:10.3px; color:#4b1899aa">
Company 2</span>
</div>
<div class="pos" id="_155:532" style="top:532;left:155">
<span id="_10.3" style=" font-family:Arial; font-size:10.3px; color:#4b1899aa">
Proi* mattis, l*rem egestas tristique fe*giat, t*r*is massa a*ipiscing *ull*, s*t am*t</span>
</div>
<div class="pos" id="_66:541" style="top:541;left:66">
<span id="_11.9" style=" font-family:Times New Roman; font-size:11.9px; color:#7833625d">
2009 - 2011</span>
</div>
<div class="pos" id="_155:545" style="top:545;left:155">
<span id="_10.5" style=" font-family:Arial; font-size:10.5px; color:#4b1899aa">
he*drerit libero arcu ma*esuada fe*is.</span>
</div>
<div class="pos" id="_155:562" style="top:562;left:155">
<span id="_10.5" style=" font-family:Arial; font-size:10.5px; color:#7833625d">
N*l*a eget *liquet felis. Nulla d*i neque, con*ue **is vene*atis a*, fauci*u* sit a*et</span>
</div>
<div class="pos" id="_155:575" style="top:575;left:155">
<span id="_9.7" style=" font-family:Arial; font-size:9.7px; color:#7833625d">
lorem.</span>
</div>
<div class="pos" id="_66:602" style="top:602;left:66">
<span id="_10.5" style=" font-family:Times New Roman; font-size:10.5px; color:#4b1899aa">
Company 3</span>
</div>
<div class="pos" id="_155:603" style="top:603;left:155">
<span id="_10.5" style=" font-family:Arial; font-size:10.5px; color:#4b1899aa">
*roi* mattis, lorem eg*stas tristique f*u**at, *urpis mas*a adipiscin* nul*a, sit amet</span>
</div>
<div class="pos" id="_66:613" style="top:613;left:66">
<span id="_11.1" style=" font-family:Times New Roman; font-size:11.1px; color:#7833625d">
20*1 - present</span>
</div>
<div class="pos" id="_155:616" style="top:616;left:155">
<span id="_10.5" style=" font-family:Arial; font-size:10.5px; color:#4b1899aa">
h*ndrerit libero arcu malesua*a f*li*.</span>
</div>
<div class="pos" id="_155:633" style="top:633;left:155">
<span id="_10.5" style=" font-family:Arial; font-size:10.5px; color:#7833625d">
Nulla eget aliquet felis. Nul*a dui n*que, *ongue quis venenatis ac, fa*cibus sit a*et</span>
</div>
<div class="pos" id="_155:646" style="top:646;left:155">
<span id="_9.7" style=" font-family:Arial; font-size:9.7px; color:#7833625d">
l*rem.</span>
</div>
<div class="pos" id="_96:682" style="top:682;left:96">
<span id="_16.2" style=" font-family:Times New Roman; font-size:16.2px; color:#809a7e34">
SKILL*</span>
</div>
<div class="pos" id="_66:714" style="top:714;left:66">
<span id="_10.6" style=" font-family:Times New Roman; font-size:10.6px; color:#4b1899aa">
Diploma 1</span>
</div>
<div class="pos" id="_155:716" style="top:716;left:155">
<span id="_10.0" style=" font-family:Arial; font-size:10.0px; color:#4b1899aa">
Advanced</span>
</div>
<div class="pos" id="_66:731" style="top:731;left:66">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#4b1899aa">
Diploma 2</span>
</div>
<div class="pos" id="_155:733" style="top:733;left:155">
<span id="_10.0" style=" font-family:Arial; font-size:10.0px; color:#4b1899aa">
A*vanced</span>
</div>
<div class="pos" id="_66:748" style="top:748;left:66">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#4b1899aa">
Di**oma 3</span>
</div>
<div class="pos" id="_155:750" style="top:750;left:155">
<span id="_9.7" style=" font-family:Arial; font-size:9.7px; color:#4b1899aa">
Medium</span>
</div>
</nowrap></nobr>
</body>
</html>
