<html>
<head>
<title>C:\Users\Rima\WebstormProjects\CvGenFrontEnd\FrondEnd\src\assets\templates\template4.pdf</title>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 15.8px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_780:540" src="page_001.jpg" height="780" width="540" border="0" usemap="#Map"></img></div>
<div class="pos" id="_282:24" style="top:24;left:282">
<span id="_22.5" style=" font-family:Arial; font-size:22.5px; color:#2a1e18e">
Vincent<span style=" color:#a4715ce8"> MA*INTOCH</span></span>
</div>
<div class="pos" id="_282:58" style="top:58;left:282">
<span id="_11.2" style=" font-family:Arial; font-size:11.2px; color:#7bff8084">
17 Rue de la R&#233;ussite 75*12 Paris</span>
</div>
<div class="pos" id="_282:73" style="top:73;left:282">
<span id="_11.8" style=" font-family:Arial; font-size:11.8px; color:#7bff8084">
Mo*email@site.com</span>
</div>
<div class="pos" id="_282:87" style="top:87;left:282">
<span id="_11.8" style=" font-family:Arial; font-size:11.8px; color:#7bff8084">
01 02 03 *4 *5</span>
</div>
<div class="pos" id="_282:102" style="top:102;left:282">
<span id="_12.8" style=" font-family:Arial; font-size:12.8px; color:#7bff8084">
**tp://:twitter.com/nom</span>
</div>
<div class="pos" id="_277:130" style="top:130;left:277">
<span id="_23.5" style=" font-family:Arial; font-size:23.5px; color:#a4715ce8">
*i*re *u poste recherc*&#233;</span>
</div>
<div class="pos" id="_277:157" style="top:157;left:277">
<span id="_11.7" style=" font-family:Arial; font-size:11.7px; color:#a4715ce8">
Comp&#233;te*ce &#8211; Co*p&#233;tence - comp&#233;tence</span>
</div>
<div class="pos" id="_127:232" style="top:232;left:127">
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#a4715ce8">
Exp&#233;riences profess*onnell*s</span>
</div>
<div class="pos" id="_50:257" style="top:257;left:50">
<span id="_10.9" style=" font-family:Arial; font-size:10.9px; color:#7bff8084">
2010-2014</span>
</div>
<div class="pos" id="_127:256" style="top:256;left:127">
<span id="_11.2" style="font-weight:bold; font-family:Arial; font-size:11.2px; color:#a4715ce8">
Titre du poste | Nom de l*e*treprise</span>
</div>
<div class="pos" id="_127:270" style="top:270;left:127">
<span id="_10.9" style=" font-family:Arial; font-size:10.9px; color:#7bff8084">
*&#233;c*ivez i** les fonctions **e vous avez o*cup&#233; pour ce *oste. *&#233;*rivez</span>
</div>
<div class="pos" id="_127:284" style="top:284;left:127">
<span id="_10.9" style=" font-family:Arial; font-size:10.9px; color:#7bff8084">
&#233;ga*ement vos mis**ons e* les r&#233;sul*ats *ue vou* a*ez obte*u. N&#8217;h&#233;sitez pas &#224;</span>
</div>
<div class="pos" id="_127:297" style="top:297;left:127">
<span id="_10.9" style=" font-family:Arial; font-size:10.9px; color:#7bff8084">
les *ua*tifier.</span>
</div>
<div class="pos" id="_50:318" style="top:318;left:50">
<span id="_10.9" style=" font-family:Arial; font-size:10.9px; color:#7bff8084">
2010-201*</span>
</div>
<div class="pos" id="_127:317" style="top:317;left:127">
<span id="_11.2" style="font-weight:bold; font-family:Arial; font-size:11.2px; color:#a4715ce8">
**tre du pos*e | Nom de l&#8217;entre*rise</span>
</div>
<div class="pos" id="_127:332" style="top:332;left:127">
<span id="_10.9" style=" font-family:Arial; font-size:10.9px; color:#7bff8084">
D&#233;cr*vez ici les f*nctions que vous *ve* occup&#233; pour ce p*ste. D&#233;cri*ez</span>
</div>
<div class="pos" id="_127:345" style="top:345;left:127">
<span id="_10.9" style=" font-family:Arial; font-size:10.9px; color:#7bff8084">
*galemen* *os miss*on* et les r&#233;sul*a** que vous *vez obtenu. N&#8217;h&#233;s*t*z pas &#224;</span>
</div>
<div class="pos" id="_127:358" style="top:358;left:127">
<span id="_10.9" style=" font-family:Arial; font-size:10.9px; color:#7bff8084">
les *uantifier.</span>
</div>
<div class="pos" id="_50:379" style="top:379;left:50">
<span id="_10.9" style=" font-family:Arial; font-size:10.9px; color:#7bff8084">
2*10-2014</span>
</div>
<div class="pos" id="_127:379" style="top:379;left:127">
<span id="_11.2" style="font-weight:bold; font-family:Arial; font-size:11.2px; color:#a4715ce8">
Titre du po*te | N*m de l&#8217;entrep*ise</span>
</div>
<div class="pos" id="_127:393" style="top:393;left:127">
<span id="_10.9" style=" font-family:Arial; font-size:10.9px; color:#7bff8084">
*&#233;c*ivez *ci les fon*ti*n* que vous a*ez o*cup&#233; pour ce po*te. D&#233;crivez</span>
</div>
<div class="pos" id="_127:406" style="top:406;left:127">
<span id="_10.9" style=" font-family:Arial; font-size:10.9px; color:#7bff8084">
&#233;galement vos miss*ons et les r&#233;sul*a*s *u* vo*s ave* obt**u. N&#8217;h&#233;sitez pas &#224;</span>
</div>
<div class="pos" id="_127:419" style="top:419;left:127">
<span id="_10.9" style=" font-family:Arial; font-size:10.9px; color:#7bff8084">
*e* quan*ifier.</span>
</div>
<div class="pos" id="_167:451" style="top:451;left:167">
<span id="_16.2" style=" font-family:Arial; font-size:16.2px; color:#a4715ce8">
Form*tion &#8211; Cu**u* scolaire</span>
</div>
<div class="pos" id="_97:479" style="top:479;left:97">
<span id="_10.8" style=" font-family:Arial; font-size:10.8px; color:#e2f33127">
2005</span>
</div>
<div class="pos" id="_167:479" style="top:479;left:167">
<span id="_10.8" style="font-weight:bold; font-family:Arial; font-size:10.8px; color:#a4715ce8">
Nom de l&#8217;&#233;*ole | Ti*r* de la form**i*n</span>
</div>
<div class="pos" id="_167:492" style="top:492;left:167">
<span id="_10.8" style=" font-family:Arial; font-size:10.8px; color:#7bff8084">
D&#233;*rivez ic* les sp&#233;cif**it&#233;s de l* format*on.</span>
</div>
<div class="pos" id="_97:524" style="top:524;left:97">
<span id="_10.8" style=" font-family:Arial; font-size:10.8px; color:#e2f33127">
2003</span>
</div>
<div class="pos" id="_167:523" style="top:523;left:167">
<span id="_10.8" style="font-weight:bold; font-family:Arial; font-size:10.8px; color:#a4715ce8">
No* de l&#8217;*cole | Titr* de la for*ation</span>
</div>
<div class="pos" id="_167:536" style="top:536;left:167">
<span id="_10.8" style=" font-family:Arial; font-size:10.8px; color:#7bff8084">
*&#233;crivez i** les sp&#233;ci*icit&#233;s de la fo*mat*o*.</span>
</div>
<div class="pos" id="_111:578" style="top:578;left:111">
<span id="_15.6" style=" font-family:Arial; font-size:15.6px; color:#a4715ce8">
Langues</span>
</div>
<div class="pos" id="_301:578" style="top:578;left:301">
<span id="_16.5" style=" font-family:Arial; font-size:16.5px; color:#a4715ce8">
Comp&#233;tence*</span>
</div>
<div class="pos" id="_111:603" style="top:603;left:111">
<span id="_10.8" style="font-weight:bold; font-family:Arial; font-size:10.8px; color:#a4715ce8">
F*an&#231;ais</span>
</div>
<div class="pos" id="_179:603" style="top:603;left:179">
<span id="_10.8" style=" font-family:Arial; font-size:10.8px; color:#7bff8084">
*angue m**ernel*e</span>
</div>
<div class="pos" id="_301:603" style="top:603;left:301">
<span id="_10.8" style=" font-family:Arial; font-size:10.8px; color:#7bff8084">
Technique de vente</span>
</div>
<div class="pos" id="_111:626" style="top:626;left:111">
<span id="_10.8" style="font-weight:bold; font-family:Arial; font-size:10.8px; color:#a4715ce8">
A*glais</span>
</div>
<div class="pos" id="_179:626" style="top:626;left:179">
<span id="_10.4" style=" font-family:Arial; font-size:10.4px; color:#7bff8084">
**urant &#8211; TOEIC 780</span>
</div>
<div class="pos" id="_301:626" style="top:626;left:301">
<span id="_11.1" style=" font-family:Arial; font-size:11.1px; color:#7bff8084">
Managem*nt</span>
</div>
<div class="pos" id="_111:650" style="top:650;left:111">
<span id="_11.1" style="font-weight:bold; font-family:Arial; font-size:11.1px; color:#a4715ce8">
Chino*s</span>
</div>
<div class="pos" id="_179:650" style="top:650;left:179">
<span id="_10.7" style=" font-family:Arial; font-size:10.7px; color:#7bff8084">
Lu et Parl&#233;</span>
</div>
<div class="pos" id="_301:650" style="top:650;left:301">
<span id="_10.7" style=" font-family:Arial; font-size:10.7px; color:#7bff8084">
Leader Ship</span>
</div>
<div class="pos" id="_115:692" style="top:692;left:115">
<span id="_15.5" style=" font-family:Arial; font-size:15.5px; color:#a4715ce8">
H*bbies</span>
</div>
<div class="pos" id="_115:715" style="top:715;left:115">
<span id="_11.5" style=" font-family:Arial; font-size:11.5px; color:#7bff8084">
*&#233;*rivez vos *entres d&#8217;*nt&#233;*&#234;*s ou *utres inform*tions qui vous</span>
</div>
<div class="pos" id="_115:730" style="top:730;left:115">
<span id="_11.5" style=" font-family:Arial; font-size:11.5px; color:#7bff8084">
semble*t importa*t de *a*re app*ra&#238;tre sur votre CV.</span>
</div>
</nowrap></nobr>
</body>
</html>
