
<div class="container">

      <h1 class="text-center">Veuillez choisir un modéle de cv </h1>
      <p class="text-center">
        Pour utiliser ces modèles de CV, il suffit de vous inscrire sur CV Generator, de remplir le contenu de votre CV.<br>
        <a href="#"><button  class="btn btn-success">create a cv</button></a><br><br>
        <a [routerLink] = "['/viewtemplate1']"><img src="assets/templates/template1.png"  width="350" height="450"></a>
        <a [routerLink] = "['/viewtemplate2']"><img src="assets/templates/template2.png" width="350" height="450"></a>
        <a [routerLink] = "['/viewtemplate3']"><img src="assets/templates/template3.png" width="350" height="450"></a>
      </p>

</div>
