
<!--<div id="page-wrapper">

  <!-- Header -->
  <!--<header id="header" class="alt">
    <a class='navbar-brand'><img src="../assets/icons/cv-logo.png" id="navlogo"></a>
    <nav id="nav">
      <ul>
        <li class="current"><a [routerLink] = "['/home']" >Home</a></li>
        <li class="current"><a [routerLink] = "['/templates']">Templates </a></li>
        <li><a [routerLink]="['/login']" class="button special">Login </a></li>
        <li><a [routerLink]="['/signup']" class="button special">Sign Up</a></li>
      </ul>
    </nav>
  </header>

  <router-outlet></router-outlet>

  <!-- Footer
  <footer id="footer">

    <ul class="icons">
      <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
      <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
      <!--<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
    </ul>

    <ul class="copyright">
      <li>&copy; Untitled</li><li>Design: <a href="#">RT4 DevTeam</a></li>
    </ul>

  </footer>

</div>-->


<!--/main-header-->
<!--/banner-section-->
<div id="demo-1" data-zs-src='["images/2.jpg", "images/1.jpg", "images/3.jpg","images/4.jpg"]' data-zs-overlay="dots">
  <div class="demo-inner-content">
    <!--/header-w3l-->
    <div class="header-w3-agileits" id="home">
      <div class="inner-header-agile">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <img src="../assets/icons/Capture.PNG"> -->
               <h1><a  href="index.html"><span>C</span>v  <p class="s-log">Generator</p></a>
             </h1>
          </div>
          <!-- navbar-header -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
              <li class="active"><a [routerLink] = "['/home']" >Home</a></li>
              <li class="current"><a [routerLink] = "['/home']">About us </a></li>
              <li class="current"><a [routerLink] = "['/templates']">Templates </a></li>
              <li class="dropdown">
                <a class="dropdown-toggle hvr-bounce-to-bottom" data-hover="Pages" data-toggle="dropdown" aria-expanded="false">Languages<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a>English</a></li>
                  <li><a>Frensh</a></li>
                </ul>
              </li>
              <li><a [routerLink]="['/login']" class="button special">Login </a></li>
              <li><a [routerLink]="['/signup']" class="button special">Sign Up</a></li>
            </ul>


          </div>
          <div class="clearfix"> </div>
        </nav>
        <!--<div class="w3ls_search">
          <div class="cd-main-header">
            <ul class="cd-header-buttons">
              <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
            </ul> <!-- cd-header-buttons
          </div>
          <div id="cd-search" class="cd-search">
            <form action="#" method="post">
              <input name="Search" type="search" placeholder="Search...">
            </form>
          </div>
        </div>-->

      </div>


    </div>
</div>

  <router-outlet></router-outlet>

</div>

<script type="text/javascript" src="./Styles/js/bootstrap.js"></script>
<script type="text/javascript" src="./Styles/js/jquery.zoomslider.min.js"></script>
<script type="text/javascript" src="./Styles/js/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="./Styles/js/classie.js"></script>
<script type="text/javascript" src="./Styles/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="./Styles/js/main.js"></script>
<script type="text/javascript" src="./Styles/js/modernizr-2.6.2.min.js"></script>
<script type="text/javascript" src="./Styles/js/lightbox-plus-jquery.min.js"></script>
<script type="text/javascript" src="./Styles/js/numscroller-1.0.js"></script>
<script type="text/javascript" src="./Styles/js/move-top.js"></script>
<script type="text/javascript" src="./Styles/js/easing.js"></script>
