/*@-moz-keyframes reveal-banner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes reveal-banner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes reveal-banner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes reveal-banner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#banner {
  background: #645862 url("../../assets/css/images/light-bl.svg"), url("../../assets/css/images/light-br.svg"), url("../../assets/css/images/overlay.png"), url("../../assets/images/banner.jpg") no-repeat, no-repeat, repeat, no-repeat scroll, scroll, scroll, fixed bottom left, bottom right, top left, top center;
  background-size: 25em, 25em, auto, cover;
  color: #fff;
  cursor: default;
  padding: 6em 0;
  text-align: center;
}

#banner .inner {
  -moz-animation: reveal-banner 1s 0.25s ease-in-out;
  -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
  -ms-animation: reveal-banner 1s 0.25s ease-in-out;
  animation: reveal-banner 1s 0.25s ease-in-out;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: rgba(52, 27, 43, 0.5);
  color: #fff;
  display: inline-block;
  opacity: 0;
  padding: 3em;
  text-align: center;
}

#banner .inner header {
  display: inline-block;
  border-bottom: solid 2px;
  border-top: solid 2px;
  margin: 0 0 2em 0;
  padding: 3px 0 3px 0;
}

#banner .inner header h2 {
  border-bottom: solid 2px;
  border-top: solid 2px;
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 0.2em;
  margin: 0;
  padding-left: 0.05em;
  position: relative;
  text-transform: uppercase;
}

#banner .inner p {
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

#banner .inner p a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}

#banner .inner footer {
  margin: 2em 0 0 0;
}
*/

@import "../../Styles/css/bootstrap.css";
@import "../../Styles/css/popuo-box.css";
@import "../../Styles/css/font-awesome.css";
@import "../../Styles/css/zoomslider.css";
@import "../../Styles/css/style.css";
@import "../../Styles/css/lightbox.css";
