<html>
<head>
<title>C:\Users\Rima\WebstormProjects\CvGenFrontEnd\FrondEnd\src\assets\templates\template3.pdf</title>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 15.1px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_842:596" src="page_001.jpg" height="842" width="596" border="0" usemap="#Map"></img></div>
<div class="pos" id="_31:18" style="top:18;left:31">
<span id="_15.2" style="font-weight:bold; font-family:Arial; font-size:15.2px; color:#000000">
Pr&#233;nom NOM</span>
</div>
<div class="pos" id="_234:19" style="top:19;left:234">
<span id="_14.5" style="font-weight:bold; font-family:Arial; font-size:14.5px; color:#000000">
*crivez ici l&#8217;emploi recherch*</span>
</div>
<div class="pos" id="_31:35" style="top:35;left:31">
<span id="_10.8" style=" font-family:Arial; font-size:10.8px; color:#000000">
Age</span>
</div>
<div class="pos" id="_31:48" style="top:48;left:31">
<span id="_10.8" style=" font-family:Arial; font-size:10.8px; color:#000000">
Adress*</span>
</div>
<div class="pos" id="_31:61" style="top:61;left:31">
<span id="_11.2" style=" font-family:Arial; font-size:11.2px; color:#000000">
Ville - Pays</span>
</div>
<div class="pos" id="_31:75" style="top:75;left:31">
<span id="_12.8" style=" font-family:Arial; font-size:12.8px; color:#000000">
T&#233;l : xxxxxx*x*x**xxx</span>
</div>
<div class="pos" id="_31:88" style="top:88;left:31">
<span id="_12.5" style=" font-family:Arial; font-size:12.5px; color:#000000">
E-mail :<a href="mailto:xxxxxxxxxxxxx@xxx.com"> xxxxxxx*x*xx*@xxx.com</span>
</div>
<div class="pos" id="_569:127" style="top:127;left:569">
<span id="_10.3" style=" font-family:Courier New; font-size:10.3px; color:#000000">
</a>	</span>
</div>
<div class="pos" id="_25:136" style="top:136;left:25">
<span id="_15.2" style="font-weight:bold; font-family:Arial; font-size:15.2px; color:#23ffd9dc">
FORMATI*NS</span>
</div>
<div class="pos" id="_481:141" style="top:141;left:481">
<span id="_10.3" style=" font-family:Courier New; font-size:10.3px; color:#000000">
	</span>
</div>
<div class="pos" id="_67:170" style="top:170;left:67">
<span id="_10.8" style="font-weight:bold; font-family:Arial; font-size:10.8px; color:#000000">
Ann&#233;es</span>
</div>
<div class="pos" id="_168:170" style="top:170;left:168">
<span id="_12.2" style="font-weight:bold; font-family:Arial; font-size:12.2px; color:#000000">
*ipl&#244;m* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*x</span>
</div>
<div class="pos" id="_67:183" style="top:183;left:67">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#203fe0bf">
Ville - *ays</span>
</div>
<div class="pos" id="_170:184" style="top:184;left:170">
<span id="_11.4" style=" font-family:Arial; font-size:11.4px; color:#000000">
Universit&#233; ou &#233;cole</span>
</div>
<div class="pos" id="_67:210" style="top:210;left:67">
<span id="_10.8" style="font-weight:bold; font-family:Arial; font-size:10.8px; color:#000000">
Ann&#233;es</span>
</div>
<div class="pos" id="_168:210" style="top:210;left:168">
<span id="_12.2" style="font-weight:bold; font-family:Arial; font-size:12.2px; color:#000000">
D*p*&#244;me xxxxx*xx*xxxxx**xxxxxxxxxxxx**xxxxxxx</span>
</div>
<div class="pos" id="_67:223" style="top:223;left:67">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#203fe0bf">
Vil*e - Pays</span>
</div>
<div class="pos" id="_170:223" style="top:223;left:170">
<span id="_11.4" style=" font-family:Arial; font-size:11.4px; color:#000000">
Unive*sit&#233; *u *cole</span>
</div>
<div class="pos" id="_67:250" style="top:250;left:67">
<span id="_10.8" style="font-weight:bold; font-family:Arial; font-size:10.8px; color:#000000">
Ann&#233;*s</span>
</div>
<div class="pos" id="_168:250" style="top:250;left:168">
<span id="_12.2" style="font-weight:bold; font-family:Arial; font-size:12.2px; color:#000000">
Dipl&#244;me xxx**xxxx*xxxxxxxx*xxx*xxxxx*x*xxxxxx</span>
</div>
<div class="pos" id="_67:263" style="top:263;left:67">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#203fe0bf">
*ille - Pays</span>
</div>
<div class="pos" id="_170:263" style="top:263;left:170">
<span id="_11.4" style=" font-family:Arial; font-size:11.4px; color:#000000">
Universit* ou *cole</span>
</div>
<div class="pos" id="_67:289" style="top:289;left:67">
<span id="_11.6" style="font-weight:bold; font-family:Arial; font-size:11.6px; color:#40ffbfbf">
Langues :</span>
</div>
<div class="pos" id="_168:290" style="top:290;left:168">
<span id="_11.7" style="font-weight:bold; font-family:Arial; font-size:11.7px; color:#000000">
An***is :<span style="font-weight:normal"> Biling*e</span></span>
</div>
<div class="pos" id="_167:303" style="top:303;left:167">
<span id="_11.7" style="font-weight:bold; font-family:Arial; font-size:11.7px; color:#000000">
Espagnol :<span style="font-weight:normal"> Cour*nt</span></span>
</div>
<div class="pos" id="_165:317" style="top:317;left:165">
<span id="_12.8" style="font-weight:bold; font-family:Arial; font-size:12.8px; color:#000000">
XXXXX :<span style="font-weight:normal"> x*xxxx</span></span>
</div>
<div class="pos" id="_67:342" style="top:342;left:67">
<span id="_13.4" style="font-weight:bold; font-family:Arial; font-size:13.4px; color:#40ffbfbf">
Logici*ls ma&#238;tris&#233;s :<span id="_12.8" style="font-weight:normal; font-size:12.8px; color:#000000"> Wor*,</span><span id="_12.8" style="font-weight:normal; font-size:12.8px; color:#000000"> Ex*el,</span><span id="_12.8" style="font-weight:normal; font-size:12.8px; color:#000000"> xxxxxxxxxx</span><span id="_12.8" style="font-weight:normal; font-size:12.8px; color:#000000"> x*xxxxxxxx*xx*xxxxxxx**</span><span id="_12.8" style="font-weight:normal; font-size:12.8px; color:#000000"> xxxxxx*xx*xxxxx</span></span>
</div>
<div class="pos" id="_67:356" style="top:356;left:67">
<span id="_13.3" style=" font-family:Arial; font-size:13.3px; color:#000000">
xxxxx*x**xxxxxxx*xxxxx xxxxxxxxx* x*xxxxxxxx*xxxxxxxxx x*xxxxxxxxxxxxxxx*</span>
</div>
<div class="pos" id="_31:397" style="top:397;left:31">
<span id="_14.7" style="font-weight:bold; font-family:Arial; font-size:14.7px; color:#23ffd9dc">
EXP*RIENCES PROF*SSI*NN*LLES</span>
</div>
<div class="pos" id="_67:423" style="top:423;left:67">
<span id="_11.5" style="font-weight:bold; font-family:Arial; font-size:11.5px; color:#000000">
*ct. &#8211; Jun. 20*2 N*M *E L&#8217;ENTRE*RIS*, Secteu r xxxxx*xxxxxxxxxxxxxxxx</span>
</div>
<div class="pos" id="_67:435" style="top:435;left:67">
<span id="_12.2" style="font-weight:bold; font-family:Arial; font-size:12.2px; color:#203fe0bf">
Ville, Pays</span>
</div>
<div class="pos" id="_168:436" style="top:436;left:168">
<span id="_12.1" style="font-weight:bold; font-family:Arial; font-size:12.1px; color:#000000">
P*ste occup&#233; xxxx*x*x*x*xx*xxxx*xxx**xxxxxxxxxxxxxx*x*x</span>
</div>
<div class="pos" id="_169:463" style="top:463;left:169">
<span id="_11.3" style=" font-family:Arial; font-size:11.3px; color:#000000">
Mis*ions et t&#226;c*es r&#233;ali**e*:</span>
</div>
<div class="pos" id="_169:476" style="top:476;left:169">
<span id="_13.3" style=" font-family:Arial; font-size:13.3px; color:#000000">
Xxxxxxxxxxxxxxxxxxxx*xxxxx*x*xxxxxxxx**x*xxx*xxxxxxx*xxxxxxxxx</span>
</div>
<div class="pos" id="_169:489" style="top:489;left:169">
<span id="_13.3" style=" font-family:Arial; font-size:13.3px; color:#000000">
**xxxxxxx*xxxxxx*xxxxxxxx*xxxx*xxxxxxxx*xxxxxxx*xxxxx*xxxxxxxx</span>
</div>
<div class="pos" id="_169:502" style="top:502;left:169">
<span id="_13.3" style=" font-family:Arial; font-size:13.3px; color:#000000">
**xxxxxxxx*xxxxxxxxxxxx*xxx*x*xxxxxxxxxxxxxxxxx*x*xxxxxx*xxxxx</span>
</div>
<div class="pos" id="_67:529" style="top:529;left:67">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#000000">
x**- xxx 20*1</span>
</div>
<div class="pos" id="_165:529" style="top:529;left:165">
<span id="_11.8" style="font-weight:bold; font-family:Arial; font-size:11.8px; color:#000000">
NOM DE L&#8217;ENTREPRISE, *ecteu* *xxxxxxxxxxxxxxxxxxxxx</span>
</div>
<div class="pos" id="_67:542" style="top:542;left:67">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#203fe0bf">
*ille, Pay*</span>
</div>
<div class="pos" id="_168:542" style="top:542;left:168">
<span id="_11.8" style="font-weight:bold; font-family:Arial; font-size:11.8px; color:#000000">
Poste occup&#233; xxxxxxxxxx*xxxxx*x*xxxxxxxx*xxxxxxxx*xxx*x</span>
</div>
<div class="pos" id="_169:569" style="top:569;left:169">
<span id="_11.3" style=" font-family:Arial; font-size:11.3px; color:#000000">
*iss*ons et t&#226;ches *&#233;alis&#233;es:</span>
</div>
<div class="pos" id="_169:582" style="top:582;left:169">
<span id="_13.3" style=" font-family:Arial; font-size:13.3px; color:#000000">
Xxxxxxxxxx*xxxxxxxx*xxx*x*xxxxx*xxxxxxxxxxxxxxxxx*xxxxxxxxx*xx</span>
</div>
<div class="pos" id="_169:595" style="top:595;left:169">
<span id="_13.3" style=" font-family:Arial; font-size:13.3px; color:#000000">
**xxxxxx*xxxxx*xxxxx*x*xxxx*xxxxxxxxxxxxxxx*xxx*xxxxxxxxxxxxx*</span>
</div>
<div class="pos" id="_170:609" style="top:609;left:170">
<span id="_13.3" style=" font-family:Arial; font-size:13.3px; color:#000000">
Xxxxxxxxxxxxxx*x**xx*xxxxxxxx*xxxxxxxxxx*xxx*xxxxxxxxxx*xxxxxx</span>
</div>
<div class="pos" id="_67:635" style="top:635;left:67">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#000000">
xxx- *xx 2010</span>
</div>
<div class="pos" id="_165:635" style="top:635;left:165">
<span id="_11.8" style="font-weight:bold; font-family:Arial; font-size:11.8px; color:#000000">
NOM DE L&#8217;ENTREPRISE, S*ct*ur *xxxxxxxxxxxxxxxxxxxxx</span>
</div>
<div class="pos" id="_67:648" style="top:648;left:67">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#203fe0bf">
Vil*e, Pays</span>
</div>
<div class="pos" id="_168:648" style="top:648;left:168">
<span id="_11.8" style="font-weight:bold; font-family:Arial; font-size:11.8px; color:#000000">
*ost* occup&#233; xxxxxxxxxxxxxxxx*xxxxxxxxx*xxx*xxxxxxxx*xx</span>
</div>
<div class="pos" id="_169:675" style="top:675;left:169">
<span id="_11.3" style=" font-family:Arial; font-size:11.3px; color:#000000">
Missions et t&#226;ches r&#233;alis&#233;*s:</span>
</div>
<div class="pos" id="_169:688" style="top:688;left:169">
<span id="_13.3" style=" font-family:Arial; font-size:13.3px; color:#000000">
Xxxxxxx**xxxxxxxxxxxxxxxxxxxxxxxxx*x**xx*xxxxxxx**xxx*xx*x**xx</span>
</div>
<div class="pos" id="_169:702" style="top:702;left:169">
<span id="_13.3" style=" font-family:Arial; font-size:13.3px; color:#000000">
Xxxxxx*xxxxx*xxxxxxx*xxxxxxxxxx*x*xxxxxx*xxxxxxxxxxxxxxxxxxxxx</span>
</div>
<div class="pos" id="_170:715" style="top:715;left:170">
<span id="_13.3" style=" font-family:Arial; font-size:13.3px; color:#000000">
*x*x*xxxxxxxxxx*xxxxxxxxxxxxx*x**x*x**xxxxxxxxxxx*xxxxxxxxxxxx</span>
</div>
<div class="pos" id="_30:748" style="top:748;left:30">
<span id="_14.3" style="font-weight:bold; font-family:Arial; font-size:14.3px; color:#23ffd9dc">
CEN*RE* D&#8217;IN*ERETS</span>
</div>
<div class="pos" id="_67:781" style="top:781;left:67">
<span id="_12.3" style=" font-family:Arial; font-size:12.3px; color:#000000">
Sp*rts, Forma*ions, Pa*sions, Projets xxxxxxxxxxx xxx xxxxxx** xxxx xxxx xxxxx* xxxxxxx xxx</span>
</div>
<div class="pos" id="_67:795" style="top:795;left:67">
<span id="_13.2" style=" font-family:Arial; font-size:13.2px; color:#000000">
xxxxxxxxxx x*x*xx xxxxx *xxx xxxx</span>
</div>
</nowrap></nobr>
</body>
</html>
